body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  overflow: hidden;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav {
  display: flex;
  align-items: center;
  height: 78px;
  z-index: 10;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  z-index: 1;
  height: 76px;
  transform: translateY(-100vh);
  transition: all 1s ease;
}
.subnav-content a {
  float: left;
}

.subnav:hover .subnav-content {
  display: block;
  z-index: 12;
  display: flex;
  align-items: center;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
